.App {
  text-align: center;
}

/* Messages*/

.sender-message {
  background-color: aqua;
}
.recipient-message {
  background-color: yellow;
}

/* Mentor Card*/

.mentor-card {
  display: grid;
  grid-template-columns: 1fr 8em 8em 1fr;
  grid-template-rows: 4em 8em 8em 4em 1fr;
  gap: 0px 0px;
  border: black;
  margin: 1em;
  max-width: 32em;
}
.top-bar {
  grid-area: 1 / 1 / 3 / 5;
  background-color: #9ed0c9;
}
.mentor-card-image {
  grid-area: 2 / 2 / 4 / 4;
  max-height: 16em;
  max-width: 16em;
  border-radius: 8em;
}

.content {
  grid-area: 5 / 1 / 6 / 5;
}
