.App {
  text-align: center;
}
/* Nav Bar*/
.nav-bar {
  background-color: #415164;
  text-decoration: none;
  color: white;
  width: 100vw;
  height: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav-links {
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-link {
  text-decoration: none;
  color: white;
}

/* Messages*/
.message-page {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url('./assets/tealPatternBackground.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.message-photo {
  max-width: 3em;
  max-height: 3em;
}
.message-header img {
  width: 3rem;
  height: 3rem;
}
.message-recipient-name {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.message-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #e2fffb;
  color: #415164;
  margin-bottom: 1rem;
}
.message-header h4 {
  font-size: 2rem;
  margin: 0.5rem;
}
.mapped-messages {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.sender-message {
  align-items: center;
  width: 70vw;
  margin-left: 25vw;
  margin-bottom: 1rem;
}
.recipient-message {
  align-items: flex-end;
  width: 70vw;
  margin-left: 5vw;
  margin-bottom: 1rem;
}
.sender-message-content {
  background-color: #415164;
  color: white;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0;
}
.recipient-message-content {
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0;
}
.message-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.timestamp {
  font-size: 0.75rem;
  margin: 0;
}
.message-delete,
.message-edit {
  background-color: white;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  margin: 0 0.25rem 0 0.25rem;
}
.message-delete {
  color: #ff1616;
  border: 1px solid #ff1616;
}
.message-edit {
  color: #1e6b62;
  border: 1px solid #1e6b62;
}
.message-send-message {
  background-color: #1e6b62;
  color: white;
  font-size: 1.25rem;
  border-radius: 1rem;
}
.message-input {
  margin: 2rem 5vw 0.5rem 5vw;
}
/* Mentor Page*/
.mentor-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Mentor Card*/
.mentor-card {
  display: grid;
  grid-template-columns: 1fr 4em 4em 1fr;
  grid-template-rows: 2em 4em 4em 1em 1fr;
  gap: 0px 0px;
  margin: 1em;
  width: 16em;
  /*box-shadow: 0px 0px 21px -4px #415164;*/
  border-radius: 1rem;
  border: 1px solid #9ed0c9;
}
.top-bar {
  grid-area: 1 / 1 / 3 / 5;
  background-color: #9ed0c9;
  border-radius: 1rem 1rem 0 0;
}
.mentor-card-image {
  grid-area: 2 / 2 / 4 / 4;
  max-height: 8em;
  max-width: 8em;
  border-radius: 4em;
  border: 1px solid #9ed0c9;
}

.content {
  grid-area: 5 / 1 / 6 / 5;
}
